/*Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    background-color: #111;
  }

 .no-scroll {
    overflow: hidden;
}

  a{
    text-decoration: none;
  }

.montserrat-family{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.instrument-serif-regular-italic {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: italic;
}



  /*Top Nav*/
  .topnav{
    display: inline-block;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .nav_options>li{
    display: inline-block;
    margin-top: 11px;
    margin-left: 12px;
  }

  .nav_options>li>a{
    color: #111;
  }

  .nav_options>li>a:hover{
    color: #545454;
  }

  /*Search*/

.topnav .search-container {
  position: absolute;
  top: 2px;
  right: 12px;
}

.topnav input[type=text] {
  padding: 7px 12px;
  margin-top: 8px;
  font-size: 14px;
  border: #111 solid 1px;
  font-family: "Montserrat";
  width: 230px;

    -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.topnav input[type="text"]::placeholder {
  color: grey;
  opacity: 1; 
}

.topnav input[type="text"]:focus{
  color:#545454;
  border: #bfff00 1px solid;
}

.topnav .search-container button {
  float: right;
  padding: 7px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
  box-shadow: none;
}

.topnav .search-container button i {
  color: white;  
}

.topnav .search-container button:hover {
  background: grey;
}
  

  /*DVI Grid*/

  .sort_container{
    position: fixed;
    right: 8px;
    top: 7.2vh;
    z-index: 5;
    display: block;
    text-align: right;
  }

  #sortIcon{
    position: fixed;
    right: 6px;
    top: 65px;
   margin: 0px 10px;
   padding: 1.1vh 10px 1px 5px;
   background-color: #111;

    border: 1px white solid;
    width: 6vh;
    height: 6vh;
    z-index: 6;
    display: block;
    border-radius: 100%;
  }

  @media only screen and (max-width: 1490px) {
     #sortIcon{
    top: 60px;
   padding: 0.9vh 7px 1px 5px;
  }
  }

  #sortIcon:hover{
    background-color: #333;
  }

  .sort_container select{
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;

    color: #111;
    background-color: white;
    font-size: 14px;
    z-index: 6;
    display: none;
  }

  .sort_container select:focus{
    border: #bfff00 1px solid;
  }

  .select_container{
    position: relative;
    top: 60px;
    display: none;
    padding: 10px;
    background-color: white;
    border: #111 1px solid;
  }

  .size_buttons_container{
    position: fixed;
    right: 7px;
    bottom: 11.5vh;
    z-index: 5;
    display: block;
  }

  .img_button{
    background-color: #111;
    color: #bfff00;
    border: 1px white solid;
    width: 6vh;
    height: 6vh;
    font-size: 20px;
    z-index: 6;
    display: block;
    margin: 10px;
    border-radius: 100%;
  }

    .img_button:hover{
      background-color: #333;
      color: white;
    }

  .DVIcontainer{
    margin-left: 20vw;
    margin-top: 50px;
    /*overflow-y: scroll;*/
    background-color: #111;
  }

  .DVI_Display{
    display: inline-block;
    margin: 1%;
    position: relative;
  }

   .DVI_counter{
    position: fixed;
    right: 12px;
    bottom: 1.5vh;
    background-color: #bfff00;
    border: 1px black solid;
    z-index: 5;
    display: block;
  }

  .DVI_counter_number{
    background-color: white;
    border: 1px black solid;
    width: 40px;
    padding: 5px;
    font-size: 20px;
    z-index: 6;
    display: block;
    margin: 5px 10px 10px;
    text-align: center;
    font-size: medium;
  }

  .DVI_counter_text{
    text-align: left;
    padding: 8px 10px 0px;
    font-weight: 500;
    font-size: small;
  }
 
  /*Filters*/

  .sidebar{
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 70px;
  }

.sidebar::-webkit-scrollbar {
  width: 13px;
}

.sidebar::-webkit-scrollbar-track {
  background: #545454; 
}

.sidebar::-webkit-scrollbar-thumb {
  background-color:#bfff00; 
  border-radius: 10px;
  border: #545454 2.5px solid;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: white; 
}


.filter {
  padding: 5px;
  margin-bottom: 10px;
  background-color: white;
  width: 85%;
  margin-left: 1.2vw;
}

.filter_title{
  margin-left: 4px;
}

.filter_options {
  display: none;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0;
  margin: 0 0 4px;
  list-style: none;
}

.filter.expanded .filter_options {
  display: flex;
}

.toggle-arrow {
  display: inline-block;
  width: 1em;
  height: 1em;
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  position: relative;
  left: -4px;
  top: 1px;
}

.toggle-arrow:hover {
color:#545454;
}

.filter.expanded .toggle-arrow {
  transform: rotate(180deg);
}


.filter_title span {
  cursor: pointer;
  margin-left: 6px;
  font-weight: bold;
}


.filter > ul > li {
  background-color: white;
  border: #111 solid 1px;
  text-align: center;
  padding: 3px 8px;
  margin: 0;
  flex: 0 1 auto;
}

  .filter>ul>li>a{
    color: #111;
  } 

  .filter>ul>li.active{
    background-color: #bfff00;
  }

  .filter>ul>li.locked{
    background-color: #C7C7C7;
  }

    .filter:nth-of-type(2){
    margin-top: 40px;
  }

  hr{
    margin: 4px 4px 8px;
    color:#333;
  }

  .reset{
    position: fixed;
    top:60px;
    height: 40px;
    width: 80px;
    background-color: #111;
    border: white 1px solid;
    padding: 11px 11px;
    font-size: small;
    z-index: 10;
    color: white;
  }

  .reset:hover{
    background-color: rgb(255, 27, 202);
  }

  .reset>span{
    cursor: pointer;
  }

  /* Sector */
  .sector{
    font-size: 11pt;
  }

  /* Year */

  .range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form_control {
  display: flex;
  flex-wrap: wrap;
  font-size: small;
}

.form_control_container__time{
  margin: 4px;
}

.form_control_container__time__input{
  margin-right: 6px;
}

input[type="number"] {
  width: auto;
  min-width: 3ch; 
  height: 30px;
  border: none;
  font-size: 15px;
  padding: 0 5px;
  border: #111 1px solid;
  font-family: 'Montserrat';

   -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

      -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="number"]:focus{
  border: #bfff00 1px solid;
}


.aspect_title{
  padding-top: 8px;
}

.aspect_explanation{
  padding-top: 3px;
  padding-bottom: 5px;
  font-size: 0.8rem;
  color: gray;
  
}


/*Info Display*/
.preview {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.preview_hidden {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

/* Header */
.header_container {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 35px 15px;
  background-color: white;
  width: 100%;
  z-index: 10;
}

#info0 {
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Instrument Serif", serif;
  margin-bottom: -7px;
}

#info1,
#info2{
  display: inline-block;
  font-size: 18px;
  margin-right: 4px;
  color:#545454;
}

#info_sector{
  color:#545454;
  font-weight: 300;
}

#info1{
  font-weight: 500;
}

#info2{
  font-weight: 300;
}

/*Fechar*/
[id^="close_bttn"] {
  padding: 6px 10px;
  text-align: center;
  background-color: white;
  border: #111 1px solid;
  position: fixed;
  top: 0;
  right: 0;
  margin-top: 33px;
  margin-right: 25px;
  font-size: 16px;
  z-index: 1000;
  user-select: none;
  border-radius: 100%;
}

[id^="close_bttn"]:hover {
  background-color: rgb(255, 27, 202);
}

.info_preview {
  display: block;
}

.body_container {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  padding: 15px;
  box-sizing: border-box;
}

.content_wrapper {
  display: flex;
  gap: 12px;
  max-width: 1400px;
  margin: 20px 25px;
  flex-wrap: nowrap;
  justify-content: space-between;
  /*background-color: rebeccapurple;*/
}

/* Coluna da tabela */
.info_container {
  background-color: white;
  border: #111 1px solid;
  width: 35%;
  padding: 25px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 90vh;
  height: 78vh;
}

.info_table_par,
.info_table_impar,
.info_lable_par,
.info_lable_impar {
  padding: 10px;
  font-size: 15px;
  vertical-align: middle;
  color: #111;
  border: #111 1px solid;
}

.info_table_par {
  border: #111 1px solid;
}

.info_table_impar {
  border:#545454 1px solid;
}

.info_lable_par {
  font-weight: 500;
  background-color:#111;
  color: rgb(224, 224, 224);
}

.info_lable_impar {
  font-weight: 500;
  background-color:#545454;
  color: rgb(224, 224, 224);
}


/* Coluna da descrição e galeria */
.gallery_right {
  width: 62%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
  border: #111 1px solid;
}

/* Descrição */
.info_description_overlay {
  flex: 0 0 auto;
  font-size: 16px;
  color: #333;
  background-color: white;
  padding: 15px;
  width: 100%;
  height: 20%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 25px 0px 0px;
}

/* Galeria */
.gallery_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 78vh;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
}

.image_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
}

.carousel_image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.carousel_image.active {
  display: block;
}

/* Controlos */
.controls_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 15px;
}

.controls_container button.carousel_arrow {
  background-color: white;
  color: black;
  font-size: 26px;
  padding: 5px 12px 8px;
  cursor: pointer;
  user-select: none;
  border-radius: 25px;
  border: #111 1px solid;
}

.controls_container button.carousel_arrow:hover {
  background-color: #eee;
}

.dots_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: white;
  border: #111 1px solid;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color:#bfff00;
}

@media only screen and (max-width: 1000px) {

.content_wrapper {
  max-width: 1400px;
  margin: 20px 18px;
}

.gallery_right {
  box-sizing: border-box;
  padding: 0;
  gap: 10px;
  height: 78vh;
}

/* Descrição */
.info_description_overlay {
  font-size: 16px;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin: 25px 0px 0px;
}

/* Galeria */
.gallery_container {
  background-color: white;
  height: 78vh;
  box-sizing: border-box;
  padding: 20px;
}

/*Tabela*/
.info_container {
  height: 78vh;
  padding: 6px;
}

.info_table_par,
.info_table_impar,
.info_lable_par,
.info_lable_impar {
  font-size: 12px;
  padding: 5px;
}
  

/*Fechar*/
[id^="close_bttn"] {
  padding: 2px 6px;
  top: 0;
  right: 28px;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 100;
}

}


@media only screen and (max-width: 1500px) {

  /*Fechar*/
[id^="close_bttn"] {
  padding: 2px 6px;
  right: 28px;
  margin-top: 6px;
  margin-right: 6px;
  border-radius: 100;
}
.info_description_overlay {
  overflow-y: scroll;
}

}


/*HOVER*/
.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hover_preview{
    display: block;
    background-color: rgba(255,255,255,0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    margin-bottom: 4px;
}

#hoverID0 {
  font-family: "Instrument Serif", serif;
  text-transform: uppercase;
  margin-bottom: -2px;
}

#hoverID1, #hoverID2 {
  display: inline;
  margin-right: 5px;
}
