/*Geral*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  /*DVI Grid*/

  .size_buttons_container{
    position: fixed;
    right: 2%;
    bottom: 2%;
    padding: 2%;
  }

  .img_button{
    background-color: aliceblue;
    border: 2px black solid;
    width: 5vw;
    height: 5vh;
  }

  .DVIcontainer{
    border: 2px black solid;
    margin-left: 20vw;
    /*overflow-y: scroll;*/
  }

  .DVI_Display{
    display: inline-block;
    margin: 1%;
  }

  /*Filters*/

  .sidebar{
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
  }


/*Info Display*/
  .preview{
    display: block;
    height: 100%;
    width: 100vw;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color:bisque;
    overflow-x: hidden;
  }

  .preview_hidden{
    display: none;
  }

  .info_preview{
    display: block;
    /*border: 2px blue solid;*/
  }

  .hover_preview{
    display: block;
    background-color: aqua;
    z-index: 1;
    /*border: 2px blue solid;*/
  }

  [id^="close_bttn"]{
    padding: 1%;
    text-align: center;
    background-color: aliceblue;
    width: 10%;
  }